streamlit
python-dotenv
pandas
SpeechRecognition
pdfplumber
PyPDF2
gtts
pyttsx3

# LangChain ecosystem
langchain
langchain-core
langchain-community
langchain-text-splitters

# Groq
langchain-groq
groq

matplotlib
seaborn
